<%= render "welcome/navbar" %>

    <div class="container-xl" style="padding-top: 1%">
        <div class='row'>
            <h1>Muchas gracias por tu pedido!</h1>
            <h4>Tu pedido fue enviado y registrado con éxito. Acercate a la sucursal a realizar el pago y es tuyo.</h4>
            <div class = 'd-flex justify-content-center align-items-center'>
                <%= image_tag("main/build-skateboard", :alt => "...", :class => "img-fluid banner") %>
            </div>        
        </div>
    </div>

<%= render "welcome/footer" %>